body {color:#00CED1;}
table {
border-collapse:collapse;
margin:auto;
}
td {
table-layout:fixed;
border:5px solid pink;
height:30px;
width:60px;
}
.example1, .example2 {visibility:collapse;}
.example1 {height:0px;}
.example2 {width:0px;}
p {
text-align:center;
font-family:sans-serif;
font-size:36px;
}
hr {
align:center;
width:50%;
}

